.content {
    display: flex;
    min-width: 100%;
    font-weight: 300;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.link {
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.showTitle {
    color: white;
}

.year {
    margin-right: 0.625rem;
}

:is(.showTitle, .text) {
    text-align: center;
}
