.shows {
    display: flex;
    min-width: 100%;
    font-weight: 300;
    justify-content: space-between;
}

.link {
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.showTitle {
    text-align: center;
    color: white;
}

.text {
    text-align: center;
}

.year {
    margin-right: 0.625rem;
}
