.grettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9.375rem 0.9375rem 0.9375rem 0.9375rem;
}

.content {
    min-width: 28.125rem;

    & .title {
        font-size: 2.5rem;
    }

    & .text {
        font-weight: 300;
        font-size: 1.25rem;
    }

    :is(.title, .text) {
        text-align: center;
    }

    &:not(:last-child) {
        margin-bottom: 70px;
    }
}
