.content {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 1.875rem;
    }
}

.header {
    font-size: 1.875rem;

    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}

.textContent {
    max-width: 43.75rem;
    display: flex;
    text-align: center;
    flex-direction: column;

    .title {
        font-size: 1.25rem;

        &:not(:last-child) {
            margin-bottom: 0.3125rem;
        }
    }

    .description {
        font-size: 1.5625rem;

        &:not(:last-child) {
            margin-bottom: 0.625rem;
        }
    }

    .metadata {
        display: flex;
        justify-content: center;
        gap: 0.3125rem;
    }

    .year {
        font-size: 1.125rem;
    }

    .rating {
        display: flex;
        align-items: center;
    }

    :is(.year, .rating, .description) {
        font-weight: 300;
    }
}
