.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
}

.userPhoto {
  text-align: center;
  font-size: 1.5625rem;
}

.userInfo {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: 15.625rem 15.625rem;

    & p {
      font-size: 1.875rem;
      font-weight: 300;
    }

    :is(.age, .dob, .city) {
      font-weight: inherit;
    }

    .favourites {
      text-align: center;
      background-color: rgba(255, 92, 92, 0.759);
      &:hover {
        color: rgba(255, 92, 92, 0.759);
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    :is(.favourites, .logout) {
      font-size: 1rem;
      border-radius: 5px;
      padding: 10px;
      color: #fff;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #fff;
      }
    } 

    .logout {
      background-color: rgb(43, 10, 10);
      &:hover {
        color: rgb(43, 10, 10);
      }
    }
}
