.sidebar {
  & button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #9b9a97;
  }

  .close {
    position: relative;
    right: -15.125rem;
  }

  & ul {
    display: none;
    list-style: none;
    padding: 0;
    animation: opacity 0.4s;

    &.show {
      display: block;
    }

    & li {
      margin-bottom: 0.5rem;

      & a {
        display: block;
        font-size: 20px;
        color: #9b9a97;
        padding: 0.5rem;
        border-left: 2px solid transparent;
        text-decoration: none;
        text-align: right;

        &:hover,
        &.active {
          border-color: #c62e21;
          background-color: #2a2a2c;
        }
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
