.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;

  & button {
    opacity: 0.8;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    color: #fff;
    padding-bottom: 0.5rem;
    transition: border-color 0.4s ease, opacity 0.4s ease;
    background-color: transparent;
    border: none;

    &.active {
      border-color: #c62e21;
      opacity: 1;
    }

    &:hover {
      border-color: #982117;
      opacity: 1;
    }
  }
}
