html,
body {
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  background-color: #0f1011;
  font-size: 1rem;
  color: white;
}

body {
  background-image: url("./assets/backgroundTVshows.jpg");
  background-size: cover;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}
